{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:import/typescript", "opencollective"],
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "node/no-missing-import": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
